.MuiCollapse-container-294 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.MuiCollapse-wrapper-296 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.MuiCollapse-wrapperInner-297 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.MuiCollapse-container-552 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.MuiCollapse-wrapper-554 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.MuiCollapse-wrapperInner-555 {
    display: flex;
    flex: 1;
    flex-direction: column;
}