.loginField:focus-within fieldset {
    border-color: var(--field-focus-border)!important;
}

.loginField:focus-within label {
    color: var(--field-focus-border)!important;
}

fieldset {
    border-color: var(--field-focus-border)!important;
}

.gButton {
    width: 100%!important;
}