

.registerField:focus-within fieldset {
    border-color: var(--field-focus-border);
}

.registerField:focus-within label {
    color: var(--field-focus-border);
}

fieldset {
    border-color: var(--field-focus-border)!important;
}